/* Font overskrifter bebas neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
}
.desktopnav {
  display: none;
}

/* logo */
.logo {
    background-color: #FDFDFD;
}
.logo img {
    max-width: 100px;
    text-align: left;
}

/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp credit for burgermenu*/
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #151515;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu - kun linksene frontpage (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: center;
    font-family: "bebas neue";
    /* containernen som er sort */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* boksene som linksene ligger indeni */
  #myLinks a {
      padding: 10px;
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      border-radius: 50px;
      background-color: #6A8A9B;
  }
  
  /* Style navigation menu links - alle klikbare links logo , frontpage etc*/
  .topnav a {
    color: #FDFDFD;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
  }
  
  /* Style the hamburger menu - de 3 streger */
  .topnav a.icon {
   color: #151515;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
  }


   /* tilbage link */
   .backbtn p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: right;
    padding: 15px;
    margin: 0%;
  }

  .backbtn a {
    text-decoration: none;
    color: #151515;
  }

  .backbtn a:hover {
    color: #6A8A9B;
  }


h1 {  font-family: "Bebas Neue";
    font-size: 3rem;  
text-align: center;}
 

  /* front billede*/
.image img {
    width: 100%;
}

.image h3 {
    font-family: 'Roboto', sans-serif;
    padding: 5%;
}

  /*boksene*/
  .gridbokse {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
      padding: 5%;
  }

.gridbokse div {
    padding: 0.5rem;
    background-color: #EFEFEF;  
}

.gridbokse img {
    width: 100%;
    height: 100px;
}

.gridbokse p {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}
    

 

    /* knap credit
 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_fade3 */

 .button-center {
    display: flex;
    justify-content: center;
    
  }
 
  .button-center a{
     text-decoration: none;
  }
 
  .button {
      display: block;
     border-radius: 50px;
   color: #FDFDFD;
   text-align: center;
   transition-duration: 0.4s;
   cursor: pointer;
   padding: 0.1px;
   width: 200px;
   margin-top: 15px;
   margin-bottom: 50px;
 }
 
 .button {
     background-color: #6A8A9B; 
     color: #FDFDFD; 
     border: 2px solid #6A8A9B;
   }
   
   .button:hover {
     background-color:#AAC3D3;
   }

   .button p{
       font-size: 1rem;
       font-family: 'bebas Neue';
   }


   /*footer*/
   .grid-footer {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr;
  }
  
  .footer {
    background-color: #EFEFEF; 
  }
  
  .footer h3{
    color: #151515;
    padding: 20px 5% 0 5%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  .footer p {
  font-family: 'Roboto', sans-serif;
  padding: 5px 5%;
  margin: 0;
  }
  
   /* SoMe icons  */
  .icons img {
    width: 40px;
  }
  
  .icons {
    text-align: right;
    margin-top: -60px;
    margin-right: 5%;
  }

  @media screen and (min-width: 768px) {
    .topnav {
      display: none;
    }
    
    .desktopnav {
      display: block;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    #myLinks a {
      background: none;
      text-decoration: transparent;
      color: #151515;
      font-size: 1.2rem;
    }
    
    #myLinks a:hover {
      color: #6A8A9B;
    }

    .image h3 {
      margin: 0%;
      font-size: 1.5rem;
    }

    .gridbokse {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-top: -60px;
    }
  }


  @media screen and (min-width: 1200px) {
    #myLinks a {
      font-size: 1.5rem;
    }

  }

 